.modal {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 35, 41, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  animation: modalIn 500ms forwards;
}

.modal_container {
  position: fixed;
  background-color: white;
  min-width: 320px;
  max-width: 600px;
  width: 90%;
  min-height: 200px;
  max-height: 90%;
  transform: translateY(-50%);
  top: 50%; 
}

.modal.is_open {
  display: flex;
  
}

.modal_close {
  position: absolute;
  border: none;
  background: none;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5em;
  color: #000;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.modal_close:hover {
  transform: scale(1.1);
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
